* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box; /* ช่วยให้เราสามารถรวมช่องว่างภายในและเส้นขอบไว้ในความกว้างและความสูงรวมขององค์ประกอบได้ */
}

/* Set Top Background */
.background {
    /* content: ''; */
    background-image:linear-gradient(to right, rgba(156, 156, 156, 0.8), rgba(156, 156, 156, 0.8)),url("bg.webp"); /* การทำพ้อหลังในจาง */
    text-align: center; /* ทำพื้นหลังเต็มหน้าจอ */
    color: white; /* สีตัวอักษร */
}

/* Top Text */
.background h2{
    padding-top: 10px; /* ช่องว่างระหว่าง content and border */
    font-size: 60px; /* ขนาดฟ้อน */
}
.background h1{
    padding-top: 10px;
    font-size: 100px;
}
.background h3{
    display: contents;
    padding-top: 10px;
    font-size: 30px;
}

/* Title Animation */
.background h1{
    animation-name: titletext; /* ชื่อ ต้องชื่อเดียวกับตัว keyframes */
    animation-duration: 2s; /* เวลาที่แสดง */
    animation-timing-function: ease; /* ease ค่าเริ่มต้น แอนิเมชั่นมีการเริ่มต้นอย่างช้าๆ แล้วอย่างรวดเร็ว ก่อนที่จะจบลงอย่างช้าๆ // linear สม่ำเสมอ */
}
@keyframes titletext{
    0%{
        transform: translateY(-112%); /* การแสดงแบ่งตามแกน X and Y */
        opacity: 1%; /* ความเข้ม */
    }
    80%{
        transform: translateY(3%);
        opacity: 90%;
    }
    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* Image 3 thumbnail */
.thumbnail{
    display: grid;
    margin: 0 5%;
    margin-top: 1%;
    grid-template-columns: 1fr 1fr 1fr; /* ระบุจำนวน (และความกว้าง) ของคอลัมน์ในรูปแบบตาราง ค่าต่างๆ เป็นรายการที่คั่นด้วยช่องว่าง โดยแต่ละค่าจะระบุขนาดของคอลัมน์ตามลำดับ */
    grid-gap: 20px; /* กำหนดขนาดของช่องว่างระหว่างแถวและคอลัมน์ในโครงร่างตาราง */
}
.thumbnail div img{
    width: 100%;
    opacity: 100%;
}
.text-hover{
    visibility: hidden;
    position: relative;
    top: -50%;
    font-size: 20px;
}
.thumbnail div:hover .text-hover{
    visibility:visible;
}
.thumbnail div:hover img{
    scale: 1.05;
    opacity: 70%;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

/* Topic Zone */
.Topic-zone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0;
    color:  white;
    text-align: center;
}
.Topic-zone .Topic .pink-bg{
    background-color: pink;
    padding: 3% 0;
}
.Topic-zone .Topic .blue-bg{
    background-color: blue;
    padding: 3% 0;
}
.Topic-zone .Topic h2{
    font-size: 50px;
}
.Topic-zone .Topic:hover{
    scale: 1.05;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

/* Items of the week */
.item-bg {
    background-color: black;
    padding-bottom: 40px;
}
.week{
    text-align: center;
    background-color: white;
    padding: 1% 0;
    color: black;
    font-size: 40px;
}
.week{
    animation-name: itembox;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes itembox{
    0%{
        transform: translateX(-112%);
        opacity: 60%;
    }
    80%{
        transform: translateX(-3%);
        opacity: 90%;
    }
    100%{
        transform: translateX(0%);
        opacity:100%;
    }
}

/* Responsive Image Grid
link--> https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.keyitemin{
    display: flex;
    flex-wrap: wrap; /* คุณสมบัติระบุว่ารายการที่มีความยืดหยุ่นควรห่อหรือไม่ */
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.keyitemin .flex-img{
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
}
.keyitemin .flex-img img{
    width: 100%;
    opacity: 50%;
    margin-top: 15px;
}
.keyitemin img:hover{
    opacity: 100%;
    scale: 1.02;
}

/* Animation IN */
.keyitemin{
    animation-name: innormal;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes innormal{
    0%{
        transform: translateY(112%);
        opacity: 00%;
    }
    80%{
        transform: translateY(-3%);
        opacity:90%;
    }
    100%{
        transform: translateY(0%);
        opacity:100%;
    }
}

/* Responsive Screen */
@media only screen and (max-width: 800px){ /* ใช้ตามนั้นแหละใช้คล้ายๆกับ :hover เปลี่ยน paramiter บางค่าได้ @media screen and(max-width: xx){} */
    .thumbnail{
        grid-template-columns: 1fr;
    }
    .Topic-zone{
        grid-template-columns: 1fr;
    }
    .keyitemin .flex-img{
        flex: 40%;
        max-width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .keyitemin .flex-img{
        flex: 50%;
        max-width: 50%;
    }
}